<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>

<% provide(:title, @user.name) %>
<div class="btn btn-default" style="float: right; margin-right: 15px;"><a href="..">Log out</a></div>
<br><br>
<h1 style="text-align: center">
  <%= @user.name%>'s To Do List
</h1>

<section class="to_do_item_form" style="text-align: center">
  <%= render 'shared/to_do_item_form' %>
</section>
<br>
<!--<div class="todolist" style="text-align: center; background-color: white; border-radius: 5px; padding: 10px;">-->
<div class="todolist">
<% if @user.to_do_items.any? %>
    <table class="table table-striped">
<!--<h3><%= @user.to_do_items.count %> things to do</h3>-->
<!--    <div style="position: relative; margin-left: auto; margin-right: auto; width: 500px;">-->
        <% if @user.to_do_items.count == 1 %>
        <h3 style="text-align: center;"><%= @user.to_do_items.count %> thing to do</h3>
        <% else %>
        <h3 style="text-align: center;"><%= @user.to_do_items.count %> things to do</h3>
        <% end %>
        <tbody>
        <ol class="to_do_items" style="text-align: left;">
            <%= render @user.to_do_items %>
        </ol>
        </tbody>
<!--    </div>-->
        </table>
<% else %>
    <br>
    <p style="text-align: center;">All caught up!</p>
<% end %>
</div>